@using NasaAPI.Models;
@page "/nasa-apod"
@using NasaAPI.Clients;
@inject NasaClient NasaClient;
@using NasaAPI.Shared.Components;

<PageTitle>
    Nasa APOD
</PageTitle>

<Header title="@nasaResponse.title" subTitle="@nasaResponse.date" description="@nasaResponse.explanation" />
<br>
<NasaImageSection imgUrl="@nasaResponse.url" hdUrl="@nasaResponse.hdurl" copyright="@nasaResponse.copyright"/>

<input placeholder="Type in a date (YYYY-MM-DD)" @bind="newDate"/>
<button @onclick="See">See</button>

@code {
    private NasaResponse? nasaResponse = null;
    protected override async Task OnInitializedAsync() {
        nasaResponse = await NasaClient.GetNasa(null);
    }

    // Date => YYYY-MM-DD add new function
    [Parameter]
    public string? newDate { get; set; }
    protected async Task See() {
        nasaResponse = await NasaClient.GetNasa(newDate);
    }
    
}
